/* Color styles */
:root {
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;
}

body {
    color: var(--white);
}
header, #bottom-footer {
    background-color: var(--dark-gray);
}
#hero, #about {
    background-color: var(--aqua);
}
#top-footer {
    background-color: var(--light-gray);
}
.my-bg-white {
    background-color: var(--white);
}
.my-middle-line {
    height: 1px;
    width: 60px;
}
.my-text-black {
    color: var(--black);
}
.my-text-white {
    color: var(--white);
}
.my-border-black {
    border-color: var(--black) !important;
}
.my-text-white:active, #top-footer i {
    color: var(--white);

}
a.my-text-white:hover, #top-footer a.text-decoration-none {
    color: var(--aqua);
}
#top-footer .rounded-circle {
    width: 26px;
    height: 26px;
    padding: 0;
    cursor: pointer;
}
#top-footer a.text-decoration-none:hover{
    text-decoration: underline!important;
}
.img-container::after {
    content: '+';
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #FFFFFF;
    position: absolute;
    background-color: rgba(26, 188, 157, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.img-container:hover:after{
    opacity: 1;
}
.img-container {
    cursor: pointer;
}
#contact .form-control::placeholder {
    color: black;
    font-size: 1.5rem;
}